//
// tables.scss
//


th {
    font-weight: $font-weight-medium;
}

// Table centered
.table-centered {

    td,
    th {
        vertical-align: middle !important;
    }
}

// Table
.table-nowrap {

    th,
    td {
        white-space: nowrap;
    }
}

// Custom table components 
.table {
    tbody tr:last-child td {
        border-bottom: 0px;
    }

    &.table-dashed>:not(caption)>*>* {
        border-style: dashed;
    }

    .table-user {
        img {
            height: 30px;
            width: 30px;
        }
    }

    .action-icon {
        color: var(--#{$prefix}body-color);
        font-size: 1.2rem;
        display: inline-block;
        padding: 0 3px;

        &:hover {
            color: var(--#{$prefix}tertiary-color);
        }
    }
    
}
.table{
    width: 100% !important;
}

html[data-bs-theme="dark"] {
    .table-light {
        --#{$prefix}table-color: var(--#{$prefix}body-color);
        --#{$prefix}table-bg: var(--#{$prefix}light);
        --#{$prefix}table-border-color: #{$table-group-separator-color};
    }
    .table a {
        color: yellow !important;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
        color: var(--#{$prefix}body-color) !important
    }
    .bg-dark {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }
}

html[data-bs-theme="light"] {
    .table a {
        color: #222;
    }
}

.have-nursing-home-exp {
    background-color: rgb(149 215 175 / 42%) !important
}

.have-no-nursing-home-exp {
    background-color: rgb(241 156 156 / 25%) !important
}